* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal; */
}

/*  */

.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    /* Single column layout for mobile */
    grid-template-rows:  2.5rem 20rem  auto auto;
    /* Auto-sized header and footer, 1fr for main content */
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    min-height: 100vh;

}
.navbar {
    grid-area: nav;
    position: absolute;
}

.navbar .container-fluid {
    padding: 0.5rem 2rem;
}

.navbar-brand {
    margin-right: 0;
    color: white;
}
/* close button for navbar */
#closeButton {
    margin-left: 90%;
    margin-top: 10px;
}

header {
    grid-area: header;
    /* padding-top: 60px; */
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.backdrop {
    background: linear-gradient(180deg, #2F80B0 13.09%, #55A4D2 49.74%, #80BBDD 64.16%, #FFE5B6 93.38%, #FFD084 100%);
    z-index: -1;
    width: 100%;
    height: 608px;

}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trip-card {
    background-color: red;
    aspect-ratio: 1;
    width: 15rem;
    border-radius: 50%;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
}



footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
    /* margin-top: 50px; */
}



/* Small screens */
/* @media (min-width: 576px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 992px) {} */



