* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */

.grid-container {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    /* Single column layout for mobile */
    grid-template-rows:5rem 10rem auto 2rem;
    /* Auto-sized header and footer, 1fr for main content */
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-gap: 10px;
    min-height: 100vh;
}

.navbar {
    grid-area: nav;
    color: white;
}


.navbar .container-fluid {
    padding: 0.5rem 2rem;
}

.navbar-brand {
    margin-right: 0;
    color: white;
}

/* close button for navbar */
#closeButton {
    margin-left: 90%;
    margin-top: 10px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backdrop {
    background: linear-gradient(180deg, #2F80B0 13.09%, #55A4D2 49.74%, #80BBDD 64.16%, #FFE5B6 93.38%, #FFD084 100%);
    z-index: -1;
    width: 100%;
    height: 608px;
}

.half-sun {
    position: absolute;
    z-index: -1;
    top: 189px;

}

.waves {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 200px;
    height: 200px;
}
#wave1 {
    position: relative;
    z-index: 1;

}

#wave2 {
    position: relative;
    top: 4px;
    z-index: 0;
}

/* TODO: fix waves */
#wave3 {
    position: relative;
    z-index: -1;
    transform: rotateX('180'); 
    bottom: 27px;
    background-color: #DCF1FF;
}
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trip-card {
    background-color: red;
    aspect-ratio: 1;
    width: 15rem;
    border-radius: 50%;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
}



footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
}



/* Small screens */
/* @media (min-width: 576px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 992px) {} */